set_location IN_MUX_bfv_1_1_0_ 1 1 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_6_10_0_ 6 10 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_2_9_0_ 2 9 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_1_6_0_ 1 6 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_1_7_0_ 1 7 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_4_4_0_ 4 4 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_4_5_0_ 4 5 0 #ICE_CARRY_IN_MUX
set_location CONSTANT_ONE_LUT4 6 9 2 #SB_LUT4
set_location buart.Z_rx.bitcount_cry_2_THRU_LUT4_0 6 10 3 #SB_LUT4
set_location buart.Z_rx.bitcount_cry_1_THRU_LUT4_0 6 10 2 #SB_LUT4
set_location buart.Z_rx.bitcount_cry_0_THRU_LUT4_0 6 10 1 #SB_LUT4
set_location buart.Z_rx.Z_baudgen.un5_counter_cry_3_THRU_LUT4_0 2 9 3 #SB_LUT4
set_location buart.Z_rx.Z_baudgen.un5_counter_cry_1_THRU_LUT4_0 2 9 1 #SB_LUT4
set_location resetGen.un3_reset_count_i_o2_3_resetGen.shifter_ret_REP_LUT4_0 5 4 7 #SB_LUT4
set_location resetGen.state_1_ret_rep1_THRU_LUT4_0 6 5 2 #SB_LUT4
set_location resetGen.state_1_ret_fast_THRU_LUT4_0 7 5 3 #SB_LUT4
set_location resetGen.state_1_ret_THRU_LUT4_0 4 7 1 #SB_LUT4
set_location resetGen.reset_count_RNI28QE_4_resetGen.rst_1_REP_LUT4_0 5 9 4 #SB_LUT4
set_location buart.Z_rx.shifter_2_fast_6_THRU_LUT4_0 6 8 6 #SB_LUT4
set_location buart.Z_rx.shifter_2_6_THRU_LUT4_0 5 5 7 #SB_LUT4
set_location buart.Z_rx.shifter_2_3_THRU_LUT4_0 6 7 2 #SB_LUT4
set_location buart.Z_rx.shifter_1_fast_0_THRU_LUT4_0 7 9 4 #SB_LUT4
set_location buart.Z_rx.shifter_1_7_THRU_LUT4_0 6 8 5 #SB_LUT4
set_location buart.Z_rx.shifter_1_5_THRU_LUT4_0 5 5 4 #SB_LUT4
set_location buart.Z_rx.shifter_1_0_THRU_LUT4_0 7 9 7 #SB_LUT4
set_location buart.Z_rx.shifter_0_fast_2_THRU_LUT4_0 7 9 5 #SB_LUT4
set_location buart.Z_rx.shifter_0_fast_1_THRU_LUT4_0 5 8 4 #SB_LUT4
set_location buart.Z_rx.shifter_0_4_THRU_LUT4_0 6 6 5 #SB_LUT4
set_location buart.Z_rx.shifter_0_2_THRU_LUT4_0 5 8 7 #SB_LUT4
set_location buart.Z_rx.shifter_0_1_THRU_LUT4_0 5 8 5 #SB_LUT4
set_location buart.Z_rx.hh_1_THRU_LUT4_0 2 13 1 #SB_LUT4
set_location buart.Z_rx.hh_0_THRU_LUT4_0 2 13 0 #SB_LUT4
set_location Lab_UT.scdp.u2.q_esr_7_THRU_LUT4_0 2 11 7 #SB_LUT4
set_location Lab_UT.scdp.u2.q_esr_6_THRU_LUT4_0 2 11 6 #SB_LUT4
set_location Lab_UT.scdp.u2.q_esr_5_THRU_LUT4_0 2 11 5 #SB_LUT4
set_location Lab_UT.scdp.u2.q_esr_4_THRU_LUT4_0 2 11 4 #SB_LUT4
set_location Lab_UT.scdp.u2.q_esr_3_THRU_LUT4_0 2 11 3 #SB_LUT4
set_location Lab_UT.scdp.u2.q_esr_2_THRU_LUT4_0 2 11 2 #SB_LUT4
set_location Lab_UT.scdp.u2.q_esr_1_THRU_LUT4_0 2 11 1 #SB_LUT4
set_location Lab_UT.scdp.u2.q_esr_0_THRU_LUT4_0 2 11 0 #SB_LUT4
set_location Lab_UT.scdp.lfsrInst.prng_lfsr_9_THRU_LUT4_0 6 15 6 #SB_LUT4
set_location Lab_UT.scdp.lfsrInst.prng_lfsr_8_THRU_LUT4_0 6 14 2 #SB_LUT4
set_location Lab_UT.scdp.lfsrInst.prng_lfsr_7_THRU_LUT4_0 2 12 4 #SB_LUT4
set_location Lab_UT.scdp.lfsrInst.prng_lfsr_6_THRU_LUT4_0 6 14 0 #SB_LUT4
set_location Lab_UT.scdp.lfsrInst.prng_lfsr_5_THRU_LUT4_0 5 12 1 #SB_LUT4
set_location Lab_UT.scdp.lfsrInst.prng_lfsr_4_THRU_LUT4_0 6 14 4 #SB_LUT4
set_location Lab_UT.scdp.lfsrInst.prng_lfsr_30_THRU_LUT4_0 4 14 7 #SB_LUT4
set_location Lab_UT.scdp.lfsrInst.prng_lfsr_3_THRU_LUT4_0 4 14 6 #SB_LUT4
set_location Lab_UT.scdp.lfsrInst.prng_lfsr_29_THRU_LUT4_0 5 12 0 #SB_LUT4
set_location Lab_UT.scdp.lfsrInst.prng_lfsr_28_THRU_LUT4_0 6 14 5 #SB_LUT4
set_location Lab_UT.scdp.lfsrInst.prng_lfsr_27_THRU_LUT4_0 5 13 7 #SB_LUT4
set_location Lab_UT.scdp.lfsrInst.prng_lfsr_26_THRU_LUT4_0 6 14 7 #SB_LUT4
set_location Lab_UT.scdp.lfsrInst.prng_lfsr_25_THRU_LUT4_0 4 14 5 #SB_LUT4
set_location Lab_UT.scdp.lfsrInst.prng_lfsr_24_THRU_LUT4_0 6 13 0 #SB_LUT4
set_location Lab_UT.scdp.lfsrInst.prng_lfsr_23_THRU_LUT4_0 2 14 7 #SB_LUT4
set_location Lab_UT.scdp.lfsrInst.prng_lfsr_22_THRU_LUT4_0 4 14 4 #SB_LUT4
set_location Lab_UT.scdp.lfsrInst.prng_lfsr_21_THRU_LUT4_0 5 12 5 #SB_LUT4
set_location Lab_UT.scdp.lfsrInst.prng_lfsr_20_THRU_LUT4_0 6 14 1 #SB_LUT4
set_location Lab_UT.scdp.lfsrInst.prng_lfsr_2_THRU_LUT4_0 5 15 1 #SB_LUT4
set_location Lab_UT.scdp.lfsrInst.prng_lfsr_19_THRU_LUT4_0 5 13 3 #SB_LUT4
set_location Lab_UT.scdp.lfsrInst.prng_lfsr_18_THRU_LUT4_0 6 14 3 #SB_LUT4
set_location Lab_UT.scdp.lfsrInst.prng_lfsr_17_THRU_LUT4_0 4 14 3 #SB_LUT4
set_location Lab_UT.scdp.lfsrInst.prng_lfsr_16_THRU_LUT4_0 6 13 3 #SB_LUT4
set_location Lab_UT.scdp.lfsrInst.prng_lfsr_15_THRU_LUT4_0 2 12 5 #SB_LUT4
set_location Lab_UT.scdp.lfsrInst.prng_lfsr_14_THRU_LUT4_0 4 14 2 #SB_LUT4
set_location Lab_UT.scdp.lfsrInst.prng_lfsr_13_THRU_LUT4_0 5 12 2 #SB_LUT4
set_location Lab_UT.scdp.lfsrInst.prng_lfsr_12_THRU_LUT4_0 6 15 3 #SB_LUT4
set_location Lab_UT.scdp.lfsrInst.prng_lfsr_11_THRU_LUT4_0 6 14 6 #SB_LUT4
set_location Lab_UT.scdp.lfsrInst.prng_lfsr_10_THRU_LUT4_0 5 15 2 #SB_LUT4
set_location Lab_UT.scdp.lfsrInst.prng_lfsr_1_THRU_LUT4_0 4 14 0 #SB_LUT4
set_location Lab_UT.scdp.lfsrInst.prng_lfsr_0_THRU_LUT4_0 6 13 1 #SB_LUT4
set_location Lab_UT.scdp.b2a1.lsBits_i_0_o2_6_Lab_UT.scdp.lsBitsi.q_esr_4_REP_LUT4_0 4 8 1 #SB_LUT4
set_location Lab_UT.scdp.a2b.val_0_a2_3_3_Lab_UT.scdp.a2b.shifter_ret_REP_LUT4_0 7 3 6 #SB_LUT4
set_location Lab_UT.scdp.a2b.val_0_2_Lab_UT.scdp.u0.q_esr_2_REP_LUT4_0 4 6 1 #SB_LUT4
set_location Lab_UT.scdp.a2b.val_0_2_Lab_UT.scdp.rxdataD.q_2_REP_LUT4_0 5 11 1 #SB_LUT4
set_location Lab_UT.scctrl.state_ret_RNI3VN3G_Lab_UT.scctrl.next_state_0_REP_LUT4_0 8 13 0 #SB_LUT4
set_location Lab_UT.scctrl.state_ret_9_RNIP7S81_0_Lab_UT.scctrl.r5.q_0_REP_LUT4_0 5 11 7 #SB_LUT4
set_location Lab_UT.scctrl.state_ret_13_RNIRGEB5_Lab_UT.scctrl.r1.q_0_REP_LUT4_0 7 11 2 #SB_LUT4
set_location Lab_UT.scctrl.shifter_ret_3_RNIRA8MC_Lab_UT.scctrl.next_state_3_REP_LUT4_0 6 11 3 #SB_LUT4
set_location Lab_UT.scctrl.r4.q_0_THRU_LUT4_0 7 11 0 #SB_LUT4
set_location Lab_UT.scctrl.r3.q_0_THRU_LUT4_0 7 11 1 #SB_LUT4
set_location Lab_UT.scctrl.r2.q_0_THRU_LUT4_0 7 11 3 #SB_LUT4
set_location Lab_UT.scctrl.next_state_RNIB2MFC_3_Lab_UT.scctrl.state_2_fast_3_REP_LUT4_0 9 6 1 #SB_LUT4
set_location Lab_UT.scctrl.next_state_RNIB2MFC_3_Lab_UT.scctrl.state_2_3_rep1_REP_LUT4_0 9 6 2 #SB_LUT4
set_location Lab_UT.scctrl.next_state_RNIB2MFC_3_Lab_UT.scctrl.state_2_3_REP_LUT4_0 9 6 3 #SB_LUT4
set_location Lab_UT.scctrl.next_state_RNI3K1MC_2_Lab_UT.scctrl.state_1_fast_2_REP_LUT4_0 9 4 1 #SB_LUT4
set_location Lab_UT.scctrl.next_state_RNI3K1MC_2_Lab_UT.scctrl.state_1_2_rep2_REP_LUT4_0 9 4 7 #SB_LUT4
set_location Lab_UT.scctrl.next_state_RNI3K1MC_2_Lab_UT.scctrl.state_1_2_rep1_REP_LUT4_0 9 4 2 #SB_LUT4
set_location Lab_UT.scctrl.next_state_RNI3K1MC_2_Lab_UT.scctrl.state_1_2_REP_LUT4_0 9 4 0 #SB_LUT4
set_location Lab_UT.scctrl.next_state_RNI09OAV_0_Lab_UT.scctrl.state_ret_12_REP_LUT4_0 8 8 1 #SB_LUT4
set_location Lab_UT.scctrl.next_state_3_sqmuxa_i_0_i_o2_3_Lab_UT.scctrl.shifter_ret_12_REP_LUT4_0 6 8 0 #SB_LUT4
set_location Lab_UT.scctrl.next_state_2_THRU_LUT4_0 11 11 0 #SB_LUT4
set_location Lab_UT.scctrl.next_state_1_sqmuxa_i_0_o2_9_Lab_UT.scctrl.shifter_ret_5_REP_LUT4_0 6 6 3 #SB_LUT4
set_location Lab_UT.scctrl.next_state_1_sqmuxa_i_0_a2_2_Lab_UT.scctrl.shifter_ret_6_REP_LUT4_0 5 5 3 #SB_LUT4
set_location Lab_UT.scctrl.next_state_1_sqmuxa_1_i_o2_5_Lab_UT.scctrl.shifter_ret_0_REP_LUT4_0 5 8 6 #SB_LUT4
set_location Lab_UT.scctrl.next_state_1_sqmuxa_1_i_o2_4_Lab_UT.scctrl.shifter_ret_2_REP_LUT4_0 6 6 0 #SB_LUT4
set_location Lab_UT.scctrl.next_state_1_i_i_o2_5_0_Lab_UT.scctrl.shifter_ret_13_REP_LUT4_0 7 3 7 #SB_LUT4
set_location buart.Z_tx.Z_baudgen.counter_RNO[2] 1 1 1 #SB_LUT4
set_location Lab_UT.scdp.u0.q_RNI5V781_0[1] 4 12 7 #SB_LUT4
set_location Lab_UT.scctrl.shifter_ret_13_RNIORKJ 7 7 0 #SB_LUT4
set_location Lab_UT.scdp.a2b.shifter_ret_RNISON11 6 7 0 #SB_LUT4
set_location Lab_UT.scctrl.state_ret_12_RNI2SEPG 8 13 6 #SB_LUT4
set_location Lab_UT.scctrl.shifter_ret_3 6 7 6 #SB_DFFES
set_location Lab_UT.scctrl.nibbleIn1_RNO_4 8 10 0 #SB_LUT4
set_location ufifo.fifo.rdaddr_RNO[2] 4 4 2 #SB_LUT4
set_location Lab_UT.scctrl.state_ret_4_RNO_2 8 12 7 #SB_LUT4
set_location Lab_UT.scctrl.state_1_ret_4_RNO_3 7 13 6 #SB_LUT4
set_location Lab_UT.scdp.lfsrInst.prng_lfsr[28] 6 14 5 #SB_DFFER
set_location Lab_UT.scctrl.state_1_ret_5_RNO_1 11 9 3 #SB_LUT4
set_location Lab_UT.scctrl.state_1_RNI9JP5A[1] 8 10 1 #SB_LUT4
set_location Lab_UT.scdp.lfsrInst.prng_lfsr[19] 5 13 3 #SB_DFFER
set_location Lab_UT.scdp.k1l.q[2] 7 14 7 #SB_DFFSR
set_location Lab_UT.scdp.b2a1.asciiHex_2_i_x2_0[2] 4 8 5 #SB_LUT4
set_location Lab_UT.scdp.k1l.q_RNO[3] 7 14 3 #SB_LUT4
set_location Lab_UT.scctrl.state_ret_9_RNO 11 6 4 #SB_LUT4
set_location Lab_UT.scctrl.state_2_RNII8KJ5[3] 6 5 5 #SB_LUT4
set_location Lab_UT.scctrl.state_1_ret_2_RNO_3 8 11 3 #SB_LUT4
set_location Lab_UT.scctrl.state_1_ret_0_RNO_1 7 5 6 #SB_LUT4
set_location ufifo.fifo.un1_rdaddr_cry_7_c 4 4 7 #SB_CARRY
set_location resetGen.shifter_ret_RNITHBO1 4 6 0 #SB_LUT4
set_location Lab_UT.scdp.k1h.q[1] 9 14 3 #SB_DFFSR
set_location Lab_UT.scctrl.state_ret_1_RNI4BLT2_0 8 6 6 #SB_LUT4
set_location Lab_UT.scctrl.state_1_2_rep1_RNIJJLN1 9 8 1 #SB_LUT4
set_location Lab_UT.scctrl.state_1_2_rep2 9 4 7 #SB_DFFSR
set_location Lab_UT.scctrl.state_1_ret_4_RNIIHUU 6 5 7 #SB_LUT4
set_location ufifo.fifo.wraddr_RNIGH7U[0] 2 5 2 #SB_LUT4
set_location buart.Z_tx.shifter_4_0_o2_2[4] 4 3 2 #SB_LUT4
set_location buart.Z_rx.bitcount_es_RNIPVCP[2] 5 10 2 #SB_LUT4
set_location Lab_UT.scdp.k3h.q[2] 6 12 5 #SB_DFFSR
set_location Lab_UT.scdp.a2b.val_i_a2[0] 9 12 3 #SB_LUT4
set_location Lab_UT.scctrl.state_1_ret_5 11 9 5 #SB_DFF
set_location Lab_UT.scctrl.state_1_ret_1_RNIQILS 7 13 4 #SB_LUT4
set_location buart.Z_tx.Z_baudgen.counter_RNO[1] 1 2 4 #SB_LUT4
set_location Lab_UT.scdp.rxdataD.q[1] 5 11 0 #SB_DFFSR
set_location Lab_UT.scdp.k3l.q_RNO[2] 9 13 4 #SB_LUT4
set_location Lab_UT.scdp.a2b.val_0_a2_3[3] 5 3 6 #SB_LUT4
set_location Lab_UT.scctrl.state_ret_0_RNIUTK59 11 8 6 #SB_LUT4
set_location Lab_UT.scctrl.state_ret_0_RNIJFLD2_1 8 5 0 #SB_LUT4
set_location Lab_UT.scctrl.state_1_RNIECCO9[2] 8 7 0 #SB_LUT4
set_location Lab_UT.scctrl.shifter_ret_0 5 8 6 #SB_DFFES
set_location Lab_UT.scctrl.nibbleIn1_RNO_7 8 9 3 #SB_LUT4
set_location ufifo.fifo.rdaddr_RNO[1] 4 4 1 #SB_LUT4
set_location Lab_UT.scctrl.state_ret_6_RNO 9 6 6 #SB_LUT4
set_location Lab_UT.scctrl.state_ret_4_RNO_1 8 12 6 #SB_LUT4
set_location Lab_UT.scctrl.state_1_ret_4_RNO_6 8 6 5 #SB_LUT4
set_location Lab_UT.scctrl.shifter_ret_2_RNI8G3S 7 6 5 #SB_LUT4
set_location resetGen.rst_1 5 9 4 #SB_DFF
set_location Lab_UT.scdp.lfsrInst.prng_lfsr[25] 4 14 5 #SB_DFFER
set_location Lab_UT.scctrl.state_1_ret_3_RNILCGA1 8 14 3 #SB_LUT4
set_location Lab_UT.scctrl.state_1_ret_1_RNICEV81 11 6 6 #SB_LUT4
set_location Lab_UT.scctrl.nibbleIn1_RNO_14 8 4 0 #SB_LUT4
set_location Lab_UT.scdp.lsBitsi.q[3] 4 9 7 #SB_DFFSR
set_location Lab_UT.scdp.k0h.q_RNO[1] 6 12 7 #SB_LUT4
set_location Lab_UT.scctrl.state_1_ret_0_RNI9TOB1 6 12 1 #SB_LUT4
set_location Lab_UT.scctrl.state_1_RNO_2[0] 7 4 1 #SB_LUT4
set_location ufifo.fifo.wraddr_RNI36CD1[6] 2 6 1 #SB_LUT4
set_location buart.Z_tx.shifter_RNO[2] 2 4 6 #SB_LUT4
set_location Lab_UT.scdp.u1.q_RNIJLK81[0] 6 13 5 #SB_LUT4
set_location Lab_UT.scdp.k1l.q[1] 9 14 5 #SB_DFFSR
set_location Lab_UT.scdp.k0l.q_RNO[1] 9 14 1 #SB_LUT4
set_location Lab_UT.scctrl.next_state_RNI09OAV[0] 8 9 2 #SB_LUT4
set_location ufifo.fifo.rdaddr[4] 4 4 4 #SB_DFFSR
set_location Lab_UT.scctrl.state_1_ret_0_RNIGSGP1 8 7 7 #SB_LUT4
set_location buart.Z_rx.bitcount_es_RNI3D361[2] 7 10 6 #SB_LUT4
set_location Lab_UT.scdp.k3l.q[2] 9 13 4 #SB_DFFSR
set_location Lab_UT.scctrl.state_1_ret_4_RNO 11 7 1 #SB_LUT4
set_location Lab_UT.scctrl.state_ret_RNO 8 8 6 #SB_LUT4
set_location ufifo.emitcrlf_fsm.cstate_RNO[1] 1 5 1 #SB_LUT4
set_location Lab_UT.scdp.k2l.q[1] 9 13 1 #SB_DFFSR
set_location Lab_UT.scctrl.state_1_RNI6EDGH[2] 6 11 7 #SB_LUT4
set_location Lab_UT.scdp.a2b.val_i_o2[0] 6 7 1 #SB_LUT4
set_location buart.Z_tx.Z_baudgen.counter_RNO[4] 1 1 3 #SB_LUT4
set_location buart.Z_tx.Z_baudgen.counter_RNIGU38[6] 1 1 6 #SB_LUT4
set_location Lab_UT.scdp.u2.q_esr_ctle[7] 7 11 6 #SB_LUT4
set_location Lab_UT.scdp.u0.q_RNICL1I3[1] 4 13 7 #SB_LUT4
set_location Lab_UT.scdp.k3l.q_RNO[1] 9 13 3 #SB_LUT4
set_location Lab_UT.scdp.k3h.q_RNO[0] 6 12 3 #SB_LUT4
set_location Lab_UT.scctrl.state_ret_0_RNIJOQD 9 7 6 #SB_LUT4
set_location ufifo.fifo.un1_rdaddr_cry_6_c 4 4 6 #SB_CARRY
set_location Lab_UT.scctrl.state_1_ret_3_RNI71T5A 7 13 2 #SB_LUT4
set_location Lab_UT.scctrl.state_1_RNO_0[0] 8 4 6 #SB_LUT4
set_location Lab_UT.scctrl.state_1_RNIDJ6B1[2] 9 11 5 #SB_LUT4
set_location Lab_UT.scctrl.nibbleIn1_RNO_2 8 9 6 #SB_LUT4
set_location ufifo.tx_fsm.cstate_RNO[2] 2 5 4 #SB_LUT4
set_location ufifo.fifo.rdaddr_RNO[4] 4 4 4 #SB_LUT4
set_location buart.Z_rx.shifter_2[3] 6 7 2 #SB_DFFER
set_location Lab_UT.scdp.lfsrInst.prng_lfsr_RNIT2EN[19] 5 13 0 #SB_LUT4
set_location Lab_UT.scctrl.state_1_ret_4_RNO_5 9 5 3 #SB_LUT4
set_location Lab_UT.scctrl.shifter_ret_12 6 8 0 #SB_DFFER
set_location Lab_UT.scdp.lfsrInst.prng_lfsr[26] 6 14 7 #SB_DFFER
set_location Lab_UT.scctrl.shifter_ret_3_RNIV6006 9 11 2 #SB_LUT4
set_location Lab_UT.scctrl.nibbleIn1_RNO_11 11 8 0 #SB_LUT4
set_location buart.Z_tx.bitcount_RNO_0[3] 1 3 1 #SB_LUT4
set_location buart.Z_tx.Z_baudgen.un2_counter_cry_1_c 1 1 0 #SB_CARRY
set_location buart.Z_rx.Z_baudgen.counter[5] 2 9 4 #SB_DFF
set_location Lab_UT.scdp.lsBitsi.q[6] 4 9 5 #SB_DFFSR
set_location Lab_UT.scctrl.state_ret_9_RNO_11 9 7 3 #SB_LUT4
set_location Lab_UT.scctrl.next_state[0] 8 13 0 #SB_DFFER
set_location buart.Z_tx.shifter_RNO[5] 2 3 3 #SB_LUT4
set_location buart.Z_tx.Z_baudgen.counter_RNO_0[3] 1 1 2 #SB_LUT4
set_location Lab_UT.scdp.b2a0.N_112_i 4 10 0 #SB_LUT4
set_location ufifo.fifo.rdaddr[7] 4 4 7 #SB_DFFSR
set_location buart.Z_rx.bitcount_es_RNO[0] 6 9 3 #SB_LUT4
set_location Lab_UT.scctrl.rst_ret_RNO_9 9 8 3 #SB_LUT4
set_location Lab_UT.scdp.u0.q_esr[2] 4 6 1 #SB_DFFESR
set_location Lab_UT.scctrl.state_ret_RNIVRBS 8 14 5 #SB_LUT4
set_location ufifo.fifo.un1_wraddr_cry_4_c 1 6 4 #SB_CARRY
set_location Lab_UT.scdp.a2b.val_0[2] 5 11 2 #SB_LUT4
set_location Lab_UT.scctrl.state_ret_RNIKML91 8 13 1 #SB_LUT4
set_location Lab_UT.scctrl.state_1_ret_3 11 10 0 #SB_DFF
set_location ufifo.emitcrlf_fsm.cstate_RNIJLRB1_0[0] 1 5 5 #SB_LUT4
set_location resetGen.shifter_ret 5 4 7 #SB_DFFES
set_location buart.Z_tx.shifter[3] 2 3 6 #SB_DFFER
set_location Lab_UT.scdp.k2l.q_RNO[0] 9 13 0 #SB_LUT4
set_location Lab_UT.scdp.k2h.q_RNO[3] 9 14 6 #SB_LUT4
set_location ufifo.fifo.wraddr_RNIOP7U[2] 2 5 0 #SB_LUT4
set_location Lab_UT.scdp.lfsrInst.prng_lfsr_RNIK3K3[1] 5 14 2 #SB_LUT4
set_location ufifo.tx_fsm.cstate_RNO[5] 2 5 7 #SB_LUT4
set_location Lab_UT.scctrl.next_state_RNIRHJAF[1] 8 10 2 #SB_LUT4
set_location Lab_UT.scdp.lfsrInst.prng_lfsr[23] 2 14 7 #SB_DFFER
set_location Lab_UT.scctrl.state_ret_9_RNO_8 8 3 3 #SB_LUT4
set_location Lab_UT.scctrl.r5.q[0] 5 11 7 #SB_DFFSR
set_location buart.Z_rx.Z_baudgen.counter_RNO[4] 2 10 2 #SB_LUT4
set_location buart.Z_rx.Z_baudgen.counter[0] 2 10 5 #SB_DFF
set_location Lab_UT.scdp.u1.q[2] 5 11 3 #SB_DFFSR
set_location Lab_UT.scdp.lsBitsi.q[5] 4 9 2 #SB_DFFSR
set_location Lab_UT.scctrl.state_1_ret_1_RNO 7 4 7 #SB_LUT4
set_location ufifo.fifo.wraddr_RNO[3] 1 6 3 #SB_LUT4
set_location buart.Z_tx.shifter_RNO[8] 1 4 4 #SB_LUT4
set_location ufifo.fifo.rdaddr[2] 4 4 2 #SB_DFFSR
set_location resetGen.reset_count_RNO[2] 4 3 5 #SB_LUT4
set_location buart.Z_rx.bitcount_cry_c[0] 6 10 0 #SB_CARRY
set_location Lab_UT.scdp.lfsrInst.prng_lfsr_RNICF9Q4[7] 4 13 0 #SB_LUT4
set_location Lab_UT.scctrl.state_ret_4 8 9 1 #SB_DFF
set_location Lab_UT.scctrl.shifter_ret_3_RNIUPHA1 7 5 0 #SB_LUT4
set_location Lab_UT.scdp.u0.q_esr_RNIA29D1[2] 4 12 6 #SB_LUT4
set_location Lab_UT.scdp.a2b.shifter_ret_RNI479R2 9 13 6 #SB_LUT4
set_location Lab_UT.scctrl.state_ret_13_RNICOE1_0 4 9 4 #SB_LUT4
set_location Lab_UT.scdp.lfsrInst.prng_lfsr[8] 6 14 2 #SB_DFFER
set_location Lab_UT.scctrl.state_1[1] 11 7 3 #SB_DFF
set_location buart.Z_tx.shifter[6] 2 3 5 #SB_DFFER
set_location Lab_UT.scdp.msBitsi.q_esr[6] 4 10 6 #SB_DFFESR
set_location Lab_UT.scctrl.state_ret_1_RNI4BLT2 5 6 5 #SB_LUT4
set_location Lab_UT.scctrl.nibbleIn1_RNO_8 8 10 6 #SB_LUT4
set_location ufifo.fifo.wraddr[3] 1 6 3 #SB_DFFSR
set_location ufifo.fifo.un1_wraddr_cry_5_c 1 6 5 #SB_CARRY
set_location Lab_UT.scctrl.shifter_ret_14 6 6 1 #SB_DFFES
set_location Lab_UT.scctrl.nibbleIn1_RNO 9 10 0 #SB_LUT4
set_location Lab_UT.scdp.u1.q_RNI1L1F2[2] 5 15 6 #SB_LUT4
set_location Lab_UT.scdp.k2h.q[3] 9 14 6 #SB_DFFSR
set_location Lab_UT.scctrl.state_ret_9_RNO_5 11 6 1 #SB_LUT4
set_location Lab_UT.scctrl.rst_ret_RNO_18 11 9 1 #SB_LUT4
set_location Lab_UT.scctrl.state_ret_rep2_RNIN4FF 8 3 5 #SB_LUT4
set_location Lab_UT.scctrl.shifter_ret_12_RNIE3JF 6 8 1 #SB_LUT4
set_location ufifo.fifo.wraddr_RNO[0] 1 6 0 #SB_LUT4
set_location buart.Z_tx.Z_baudgen.counter_RNO_0[5] 1 1 4 #SB_LUT4
set_location Lab_UT.scctrl.state_1_ret_3_RNIJURV 11 12 1 #SB_LUT4
set_location buart.Z_tx.Z_baudgen.counter_RNIVE1P1[0] 1 2 6 #SB_LUT4
set_location Lab_UT.scdp.lfsrInst.prng_lfsr[16] 6 13 3 #SB_DFFER
set_location Lab_UT.scctrl.rst_ret_RNO_3 11 10 7 #SB_LUT4
set_location buart.Z_rx.bitcount_es[1] 6 9 0 #SB_DFFES
set_location buart.Z_rx.bitcount_cry_c[3] 6 10 3 #SB_CARRY
set_location Lab_UT.scctrl.state_ret_9 11 6 4 #SB_DFF
set_location Lab_UT.scctrl.state_1_ret_2_RNO_8 5 6 7 #SB_LUT4
set_location buart.Z_rx.shifter_ret_2 5 5 1 #SB_DFFES
set_location buart.Z_rx.shifter_0_fast[2] 7 9 5 #SB_DFFER
set_location Lab_UT.scctrl.state_1_ret_1_RNO_2 6 3 4 #SB_LUT4
set_location resetGen.reset_count_RNITEEC1[2] 4 3 6 #SB_LUT4
set_location buart.Z_rx.shifter_ret_0_rep1_RNO 6 6 4 #SB_LUT4
set_location Lab_UT.scdp.lfsrInst.prng_lfsr[5] 5 12 1 #SB_DFFER
set_location Lab_UT.scctrl.state_1[2] 9 4 0 #SB_DFFSR
set_location Lab_UT.scctrl.shifter_ret_3_RNIESH11 7 8 6 #SB_LUT4
set_location Lab_UT.scctrl.next_state_1_sqmuxa_i_0_o2_9 6 4 2 #SB_LUT4
set_location ufifo.tx_fsm.cstate_RNO_0[0] 2 6 3 #SB_LUT4
set_location Lab_UT.scdp.u0.q_RNO[3] 9 12 7 #SB_LUT4
set_location Lab_UT.scctrl.state_ret_13_RNO_0 8 4 4 #SB_LUT4
set_location Lab_UT.scctrl.state_1_ret_3_RNO_3 7 13 5 #SB_LUT4
set_location buart.Z_tx.shifter[5] 2 3 3 #SB_DFFER
set_location Lab_UT.scdp.rddataDV.q[0] 5 10 1 #SB_DFFSR
set_location Lab_UT.scdp.msBitsi.q_esr[1] 4 10 0 #SB_DFFESR
set_location Lab_UT.scdp.b2a1.N_125_i 4 8 0 #SB_LUT4
set_location Lab_UT.scdp.b2a1.N_119_i 4 8 7 #SB_LUT4
set_location Lab_UT.scctrl.state_2_RNIVOU53[3] 8 3 6 #SB_LUT4
set_location Lab_UT.scctrl.state_1_ret_3_RNO 11 10 0 #SB_LUT4
set_location ufifo.fifo.wraddr[4] 1 6 4 #SB_DFFSR
set_location Lab_UT.scctrl.state_1_fast_RNIFRSV[2] 9 9 3 #SB_LUT4
set_location Lab_UT.scdp.k2h.q[0] 7 14 5 #SB_DFFSR
set_location Lab_UT.scctrl.state_ret_9_RNO_2 11 7 4 #SB_LUT4
set_location Lab_UT.scctrl.shifter_ret_7_RNIPFLD2_1 6 11 1 #SB_LUT4
set_location Lab_UT.scctrl.rst_ret_RNO_17 12 8 7 #SB_LUT4
set_location buart.Z_rx.Z_baudgen.counter_RNO[2] 2 10 4 #SB_LUT4
set_location Lab_UT.scdp.b2a1.asciiHex_2_0_a2_0[0] 4 8 3 #SB_LUT4
set_location Lab_UT.scctrl.state_ret_fast_RNIKKMF 8 7 6 #SB_LUT4
set_location Lab_UT.scctrl.shifter_ret_3_RNI7ARC1_0 8 12 1 #SB_LUT4
set_location Lab_UT.scctrl.next_state_1_sqmuxa_1_i_o2_4 6 7 5 #SB_LUT4
set_location ufifo.txdataD[1] 4 11 2 #SB_DFF
set_location ufifo.fifo.wraddr_RNO[5] 1 6 5 #SB_LUT4
set_location buart.Z_tx.bitcount_RNO[3] 1 3 2 #SB_LUT4
set_location Lab_UT.scdp.u2.q_esr[4] 2 11 4 #SB_DFFESR
set_location Lab_UT.scctrl.state_ret_rep1 8 8 4 #SB_DFFSS
set_location ufifo.fifo.rdaddr[8] 4 5 0 #SB_DFFSR
set_location buart.Z_tx.bitcount_RNI6VV36[3] 2 4 2 #SB_LUT4
set_location buart.Z_rx.shifter_2_fast[6] 6 8 6 #SB_DFFER
set_location Lab_UT.scdp.lfsrInst.prng_lfsr[11] 6 14 6 #SB_DFFER
set_location Lab_UT.scctrl.state_ret_11 9 4 5 #SB_DFFSS
set_location Lab_UT.scctrl.rst_ret_RNO_0 11 8 3 #SB_LUT4
set_location buart.Z_rx.Z_baudgen.un5_counter_cry_1_c 2 9 0 #SB_CARRY
set_location Lab_UT.scctrl.state_1_RNO_3[0] 8 3 4 #SB_LUT4
set_location Lab_UT.scctrl.shifter_ret_7_RNIQ5993 9 10 1 #SB_LUT4
set_location Lab_UT.scctrl.nibbleIn1 9 10 0 #SB_DFFER
set_location buart.Z_tx.Z_baudgen.counter[5] 1 2 1 #SB_DFF
set_location buart.Z_rx.shifter_ret_5 6 8 7 #SB_DFFES
set_location Lab_UT.scctrl.state_ret_rep1_RNI9FBG 9 9 4 #SB_LUT4
set_location Lab_UT.scctrl.state_1_ret_1_RNO_7 6 11 4 #SB_LUT4
set_location Lab_UT.scctrl.nibbleIn1_RNI6DT75 9 10 2 #SB_LUT4
set_location Lab_UT.scdp.u1.q_RNO[2] 5 11 3 #SB_LUT4
set_location Lab_UT.scdp.lfsrInst.prng_lfsr[6] 6 14 0 #SB_DFFER
set_location Lab_UT.scdp.u0.q_RNO[0] 9 12 4 #SB_LUT4
set_location Lab_UT.scctrl.state_ret_13_RNO_3 8 5 1 #SB_LUT4
set_location Lab_UT.scctrl.state_ret_0_RNIJFLD2 8 10 3 #SB_LUT4
set_location Lab_UT.scctrl.state_1_ret_3_RNO_4 7 12 6 #SB_LUT4
set_location buart.Z_tx.shifter[8] 1 4 4 #SB_DFFER
set_location buart.Z_rx.shifter_ret_5_RNO 6 8 7 #SB_LUT4
set_location Lab_UT.scctrl.shifter_ret_0_RNIQM5P 5 8 0 #SB_LUT4
set_location ufifo.fifo.un1_rdaddr_cry_5_c 4 4 5 #SB_CARRY
set_location buart.Z_rx.Z_baudgen.un5_counter_cry_4_c 2 9 3 #SB_CARRY
set_location Lab_UT.scdp.u0.q[3] 9 12 7 #SB_DFFSR
set_location resetGen.reset_count_RNI28QE[4] 4 7 5 #SB_LUT4
set_location buart.Z_rx.shifter_ret_0_fast 7 8 7 #SB_DFFES
set_location buart.Z_rx.hh[1] 2 13 1 #SB_DFFS
set_location Lab_UT.scdp.u1.q_RNI3IJ18[0] 5 12 7 #SB_LUT4
set_location Lab_UT.scdp.k0h.q[0] 6 12 6 #SB_DFFSR
set_location Lab_UT.scctrl.state_ret_0_RNIKR11 9 7 2 #SB_LUT4
set_location Lab_UT.scctrl.shifter_ret_8 6 8 3 #SB_DFFES
set_location Lab_UT.scctrl.sccEldByte_i_o2 7 10 0 #SB_LUT4
set_location buart.Z_tx.uart_tx 1 4 1 #SB_DFFES
set_location Lab_UT.scctrl.state_ret_4_RNO_9 7 8 0 #SB_LUT4
set_location Lab_UT.scctrl.state_ret_13_RNIRGEB5 7 11 5 #SB_LUT4
set_location Lab_UT.scctrl.state_2_RNIDAFVC[3] 9 11 0 #SB_LUT4
set_location Lab_UT.scctrl.rst_ret_RNO_12 12 10 6 #SB_LUT4
set_location ufifo.emitcrlf_fsm.cstate_RNO_2[1] 1 5 6 #SB_LUT4
set_location Lab_UT.scdp.msBitsi.q_esr_RNIBTL8[4] 4 11 4 #SB_LUT4
set_location ufifo.txdataD[6] 5 6 1 #SB_DFF
set_location resetGen.un3_reset_count_i_o2_3 5 7 7 #SB_LUT4
set_location buart.Z_tx.bitcount_RNO[0] 1 3 5 #SB_LUT4
set_location buart.Z_tx.bitcount[0] 1 3 5 #SB_DFFR
set_location Lab_UT.scdp.u2.q_esr[7] 2 11 7 #SB_DFFESR
set_location Lab_UT.scctrl.state_1_ret_1_RNIKFLC4 8 11 1 #SB_LUT4
set_location Lab_UT.scctrl.state_1_RNO_9[0] 5 3 0 #SB_LUT4
set_location Lab_UT.scctrl.shifter_ret_2_RNID9MC3 7 10 4 #SB_LUT4
set_location resetGen.reset_count_RNIU5BF[4] 11 9 0 #SB_LUT4
set_location resetGen.reset_count[0] 4 3 1 #SB_DFF
set_location Lab_UT.scctrl.state_ret_11_RNI4RQC3 11 10 5 #SB_LUT4
set_location Lab_UT.scctrl.rst_ret_RNO_5 12 9 1 #SB_LUT4
set_location Lab_UT.scdp.u0.q_RNI2JO42[1] 4 11 5 #SB_LUT4
set_location Lab_UT.scdp.k1h.q_RNO[1] 9 14 3 #SB_LUT4
set_location Lab_UT.scdp.k0l.q[3] 5 10 7 #SB_DFFSR
set_location Lab_UT.scctrl.state_1_ret_2_RNO_6 8 11 5 #SB_LUT4
set_location Lab_UT.scctrl.state_1_ret_0_RNO_4 7 5 4 #SB_LUT4
set_location Lab_UT.scctrl.next_state_1_sqmuxa_i_0_a2_2 7 3 2 #SB_LUT4
set_location buart.Z_tx.Z_baudgen.counter[0] 1 2 2 #SB_DFF
set_location Lab_UT.scctrl.state_ret_rep2_RNI4KGMF 7 6 2 #SB_LUT4
set_location Lab_UT.scctrl.state_1_ret_1_RNO_4 7 5 2 #SB_LUT4
set_location Lab_UT.scdp.u1.q_RNO[1] 5 11 4 #SB_LUT4
set_location Lab_UT.scdp.lfsrInst.prng_lfsr[3] 4 14 6 #SB_DFFER
set_location Lab_UT.scdp.b2a1.asciiHex_2_i_o2[3] 4 8 6 #SB_LUT4
set_location Lab_UT.scdp.u1.q_RNI4GMQ4[1] 4 12 3 #SB_LUT4
set_location Lab_UT.scctrl.state_ret_13_RNO_6 7 7 5 #SB_LUT4
set_location Lab_UT.scctrl.state_ret_rep2_RNIBDOL6 7 7 4 #SB_LUT4
set_location ufifo.fifo.un1_rdaddr_cry_2_c 4 4 2 #SB_CARRY
set_location Lab_UT.scctrl.state_1_RNI6O741[2] 8 6 7 #SB_LUT4
set_location ufifo.fifo.sb_ram512x8_inst_RNIKRN11 4 6 3 #SB_LUT4
set_location Lab_UT.scctrl.state_ret_4_RNO 8 9 1 #SB_LUT4
set_location Lab_UT.scctrl.state_1_RNO[1] 11 7 3 #SB_LUT4
set_location Lab_UT.scctrl.state_1_2_rep2_RNI2S7K1 9 5 5 #SB_LUT4
set_location Lab_UT.scctrl.shifter_ret_5 6 6 3 #SB_DFFES
set_location buart.Z_tx.Z_baudgen.un2_counter_cry_5_c 1 1 4 #SB_CARRY
set_location Lab_UT.scdp.msBitsi.q_esr_RNI679E[6] 4 7 7 #SB_LUT4
set_location Lab_UT.scctrl.state_ret_4_RNO_4 8 12 4 #SB_LUT4
set_location Lab_UT.scctrl.state_1_ret_1_RNO_10 7 4 3 #SB_LUT4
set_location Lab_UT.scctrl.state_1_ret_1_RNIQILS_0 7 7 7 #SB_LUT4
set_location Lab_UT.scctrl.rst_ret_RNO_11 12 9 0 #SB_LUT4
set_location Lab_UT.scdp.msBitsi.q_esr_RNIM6D0B[6] 5 6 1 #SB_LUT4
set_location Lab_UT.scdp.u2.q_esr[2] 2 11 2 #SB_DFFESR
set_location Lab_UT.scctrl.state_1_ret_5_RNO_3 7 12 5 #SB_LUT4
set_location Lab_UT.scctrl.sccEldByte_i_a2 7 11 4 #SB_LUT4
set_location ufifo.fifo.un1_rdaddr_cry_4_c 4 4 4 #SB_CARRY
set_location buart.Z_tx.shifter_RNO_0[7] 1 4 0 #SB_LUT4
set_location Lab_UT.scdp.u0.q_RNI47LGA[1] 5 13 6 #SB_LUT4
set_location Lab_UT.scctrl.shifter_ret_RNI7U912 7 9 3 #SB_LUT4
set_location Lab_UT.scdp.lfsrInst.prng_lfsr[30] 4 14 7 #SB_DFFER
set_location Lab_UT.scdp.k1l.q_RNO[1] 9 14 5 #SB_LUT4
set_location Lab_UT.scctrl.state_1_ret_2_RNO_1 5 7 2 #SB_LUT4
set_location Lab_UT.scctrl.state_1_ret_0_RNO_3 7 5 5 #SB_LUT4
set_location Lab_UT.scctrl.shifter_ret_0_RNIK3S32 5 8 1 #SB_LUT4
set_location ufifo.emitcrlf_fsm.cstate_RNIQ8IQ3[0] 6 9 5 #SB_LUT4
set_location buart.Z_tx.Z_baudgen.counter[3] 1 1 7 #SB_DFF
set_location Lab_UT.scdp.k1h.q[3] 7 14 1 #SB_DFFSR
set_location Lab_UT.scctrl.state_1_ret_1_RNO_9 7 4 4 #SB_LUT4
set_location Lab_UT.scctrl.next_state_1_i_i_o2_5[0] 5 6 0 #SB_LUT4
set_location Lab_UT.scdp.lsBitsi.q_RNO[5] 4 9 2 #SB_LUT4
set_location Lab_UT.scctrl.state_1_RNIE6PO6[0] 11 5 2 #SB_LUT4
set_location buart.Z_rx.bitcount_es_RNIPVCP[4] 5 10 0 #SB_LUT4
set_location Lab_UT.scdp.k3h.q[0] 6 12 3 #SB_DFFSR
set_location Lab_UT.scctrl.state_ret_rep1_RNICQA1 8 5 4 #SB_LUT4
set_location Lab_UT.scctrl.state_ret_9_RNIP7S81_0 11 10 6 #SB_LUT4
set_location Lab_UT.scctrl.shifter_ret_8_RNIG4702 7 10 7 #SB_LUT4
set_location buart.Z_tx.Z_baudgen.counter_RNO[3] 1 1 7 #SB_LUT4
set_location Lab_UT.scctrl.shifter_ret_2 6 6 0 #SB_DFFER
set_location Lab_UT.scctrl.nibbleIn1_RNO_5 8 9 7 #SB_LUT4
set_location ufifo.tx_fsm.cstate[2] 2 5 4 #SB_DFF
set_location ufifo.fifo.rdaddr_RNO[3] 4 4 3 #SB_LUT4
set_location Lab_UT.scctrl.state_ret_4_RNO_3 8 12 3 #SB_LUT4
set_location Lab_UT.scctrl.state_1_ret_4_RNO_0 11 7 0 #SB_LUT4
set_location Lab_UT.scctrl.shifter_ret_3_RNIS5A43_1 7 8 4 #SB_LUT4
set_location Lab_UT.scctrl.state_ret_13_RNICOE1 12 12 0 #SB_LUT4
set_location Lab_UT.scctrl.nibbleIn1_RNO_16 8 3 2 #SB_LUT4
set_location Lab_UT.scdp.k0h.q_RNO[3] 5 10 5 #SB_LUT4
set_location Lab_UT.scctrl.state_1_ret_5_RNO_0 11 9 4 #SB_LUT4
set_location Lab_UT.scctrl.state_1_fast[2] 9 4 1 #SB_DFFSR
set_location buart.Z_tx.shifter_RNO[0] 1 4 5 #SB_LUT4
set_location Lab_UT.scdp.k1l.q[3] 7 14 3 #SB_DFFSR
set_location Lab_UT.scdp.k0l.q_RNO[3] 5 10 7 #SB_LUT4
set_location Lab_UT.scctrl.shifter_ret_7_RNIPFLD2 9 6 7 #SB_LUT4
set_location Lab_UT.scdp.lfsrInst.prng_lfsr_RNIHOFN[22] 4 13 6 #SB_LUT4
set_location Lab_UT.scctrl.state_1_ret_4_RNIJOFP1 9 9 7 #SB_LUT4
set_location buart.Z_tx.Z_baudgen.un2_counter_cry_2_c 1 1 1 #SB_CARRY
set_location Lab_UT.scdp.k3l.q[0] 9 13 2 #SB_DFFSR
set_location Lab_UT.scctrl.shifter_ret_3_RNO 6 7 6 #SB_LUT4
set_location Lab_UT.scctrl.shifter_ret_5_RNIOMGF 5 6 4 #SB_LUT4
set_location Lab_UT.scdp.k2l.q[3] 9 14 4 #SB_DFFSR
set_location Lab_UT.scctrl.state_ret_12_RNIUVHQG 8 13 3 #SB_LUT4
set_location Lab_UT.scctrl.state_ret_5_RNI7FV82 9 9 1 #SB_LUT4
set_location Lab_UT.scctrl.state_1_ret_4 11 7 1 #SB_DFF
set_location buart.Z_tx.Z_baudgen.counter_RNO[6] 1 2 0 #SB_LUT4
set_location buart.Z_rx.shifter_ret_2_RNO 5 5 1 #SB_LUT4
set_location Lab_UT.scdp.rxdataD.q[2] 5 11 1 #SB_DFFSR
set_location Lab_UT.scdp.msBitsi.q_esr_RNI3LL8[0] 4 11 0 #SB_LUT4
set_location Lab_UT.scdp.k3l.q_RNO[3] 9 13 5 #SB_LUT4
set_location Lab_UT.scdp.k3h.q_RNO[2] 6 12 5 #SB_LUT4
set_location Lab_UT.scctrl.state_ret_0_RNIJFLD2_2 11 8 5 #SB_LUT4
set_location Lab_UT.scctrl.nibbleIn1_RNO_0 9 10 5 #SB_LUT4
set_location ufifo.tx_fsm.cstate_RNO[0] 2 6 4 #SB_LUT4
set_location ufifo.tx_fsm.cstate[1] 2 6 6 #SB_DFF
set_location ufifo.fifo.rdaddr_RNO[6] 4 4 6 #SB_LUT4
set_location Lab_UT.scdp.lfsrInst.prng_lfsr_RNIPUDN[17] 4 13 1 #SB_LUT4
set_location Lab_UT.scdp.b2a0.asciiHex_2_0_a2_0_m2[0] 4 10 1 #SB_LUT4
set_location Lab_UT.scctrl.state_1_RNI91NK6[2] 9 11 4 #SB_LUT4
set_location buart.Z_rx.bitcount_es_RNISCGV1[0] 5 10 3 #SB_LUT4
set_location Lab_UT.scdp.lfsrInst.prng_lfsr[24] 6 13 0 #SB_DFFER
set_location Lab_UT.scctrl.state_ret_0_RNO 9 7 0 #SB_LUT4
set_location Lab_UT.scctrl.r4.q[0] 7 11 0 #SB_DFFSR
set_location Lab_UT.scctrl.nibbleIn1_RNO_13 7 6 7 #SB_LUT4
set_location buart.Z_tx.shifter_4_0_o2_3[4] 4 6 6 #SB_LUT4
set_location Lab_UT.scdp.k0h.q_RNO[0] 6 12 6 #SB_LUT4
set_location Lab_UT.scctrl.state_1_ret_4_RNISO7C1 8 5 2 #SB_LUT4
set_location buart.Z_tx.shifter_RNO[3] 2 3 6 #SB_LUT4
set_location Lab_UT.scdp.k0l.q_RNO[0] 9 14 0 #SB_LUT4
set_location ufifo.fifo.rdaddr[5] 4 4 5 #SB_DFFSR
set_location buart.Z_rx.bitcount_es_RNO[2] 6 9 1 #SB_LUT4
set_location Lab_UT.scdp.u1.q_RNIOKSG2[0] 5 12 6 #SB_LUT4
set_location Lab_UT.scdp.k3l.q[3] 9 13 5 #SB_DFFSR
set_location Lab_UT.scctrl.state_ret_1 9 4 6 #SB_DFFSR
set_location buart.Z_tx.Z_baudgen.counter_RNI5S14[1] 1 2 5 #SB_LUT4
set_location Lab_UT.scdp.k2l.q[0] 9 13 0 #SB_DFFSR
set_location Lab_UT.scctrl.state_1_RNO_1[0] 11 7 2 #SB_LUT4
set_location buart.Z_tx.bitcount_RNO[1] 1 3 4 #SB_LUT4
set_location buart.Z_tx.bitcount[1] 1 3 4 #SB_DFFR
set_location buart.Z_rx.shifter_ret_0_fast_RNO 7 8 7 #SB_LUT4
set_location Lab_UT.scdp.u2.q_esr[6] 2 11 6 #SB_DFFESR
set_location Lab_UT.scctrl.state_ret_RNI227Q7 9 5 7 #SB_LUT4
set_location Lab_UT.scctrl.state_1_ret_5_RNI1UBG9 4 9 1 #SB_LUT4
set_location Lab_UT.scctrl.state_1_ret_1 7 4 7 #SB_DFF
set_location Lab_UT.scctrl.state_1_RNO_4[0] 8 4 5 #SB_LUT4
set_location Lab_UT.scctrl.shifter_ret_3_RNI7ARC1 8 12 0 #SB_LUT4
set_location ufifo.emitcrlf_fsm.cstate_RNIPKRF7[0] 1 3 3 #SB_LUT4
set_location resetGen.reset_count_RNO_0[2] 4 3 4 #SB_LUT4
set_location resetGen.reset_count[3] 4 7 2 #SB_DFF
set_location buart.Z_tx.Z_baudgen.counter_RNO[5] 1 2 1 #SB_LUT4
set_location Lab_UT.scdp.msBitsi.q_esr_RNI019E[3] 4 11 7 #SB_LUT4
set_location Lab_UT.scdp.lfsrInst.prng_lfsr[13] 5 12 2 #SB_DFFER
set_location Lab_UT.scdp.k3h.q_RNO[1] 6 12 4 #SB_LUT4
set_location Lab_UT.scdp.k2h.q_RNO[1] 7 15 3 #SB_LUT4
set_location Lab_UT.scctrl.state_ret_13 8 8 0 #SB_DFFSS
set_location Lab_UT.scctrl.rst_ret_RNO_6 12 9 5 #SB_LUT4
set_location ufifo.tx_fsm.cstate_srsts_i_i_o2[2] 1 5 4 #SB_LUT4
set_location Lab_UT.scdp.lfsrInst.prng_lfsr_RNITJGS_0[7] 2 12 6 #SB_LUT4
set_location Lab_UT.scdp.k1h.q_RNO[0] 7 15 5 #SB_LUT4
set_location Lab_UT.scdp.k0l.q[0] 9 14 0 #SB_DFFSR
set_location Lab_UT.scdp.b2a0.asciiHex_2_i_x2_0[1] 4 10 7 #SB_LUT4
set_location Lab_UT.scctrl.state_1_ret_2_RNO_5 6 5 0 #SB_LUT4
set_location Lab_UT.scctrl.nibbleIn1_RNO_3 8 9 4 #SB_LUT4
set_location ufifo.tx_fsm.cstate_RNO[3] 4 3 7 #SB_LUT4
set_location ufifo.tx_fsm.cstate[4] 2 5 5 #SB_DFF
set_location ufifo.fifo.rdaddr_RNO[5] 4 4 5 #SB_LUT4
set_location buart.Z_tx.bitcount_RNIF2CB3[3] 2 4 1 #SB_LUT4
set_location Lab_UT.scctrl.state_1_ret_2_RNO_10 6 4 4 #SB_LUT4
set_location Lab_UT.scctrl.state_1_ret_2_RNO 5 7 3 #SB_LUT4
set_location Lab_UT.scctrl.state_1_ret_1_RNO_5 6 4 3 #SB_LUT4
set_location Lab_UT.scctrl.state_1_fast_RNIM0M4[2] 12 9 2 #SB_LUT4
set_location Lab_UT.scctrl.shifter_ret_13 7 3 7 #SB_DFFES
set_location ufifo.fifo.un1_wraddr_cry_7_c 1 6 7 #SB_CARRY
set_location Lab_UT.scdp.u1.q_RNO[0] 9 12 5 #SB_LUT4
set_location Lab_UT.scdp.lfsrInst.prng_lfsr[21] 5 12 5 #SB_DFFER
set_location Lab_UT.scdp.lfsrInst.prng_lfsr[0] 6 13 1 #SB_DFFER
set_location Lab_UT.scdp.b2a1.asciiHex_2_i_o2[2] 4 8 2 #SB_LUT4
set_location Lab_UT.scctrl.rst_ret_RNO 11 8 4 #SB_LUT4
set_location Lab_UT.scctrl.nibbleIn1_RNO_10 9 10 7 #SB_LUT4
set_location Lab_UT.scctrl.next_state_RNICEBUC[3] 9 11 3 #SB_LUT4
set_location buart.Z_rx.Z_baudgen.counter[2] 2 10 4 #SB_DFF
set_location Lab_UT.scdp.u1.q[0] 9 12 5 #SB_DFFSR
set_location Lab_UT.scctrl.state_ret_9_RNIP7S81 11 10 3 #SB_LUT4
set_location Lab_UT.scctrl.state_ret_5_RNO 8 8 5 #SB_LUT4
set_location Lab_UT.scctrl.state_ret_13_RNO_5 7 6 3 #SB_LUT4
set_location Lab_UT.scctrl.state_1_ret_3_RNO_6 8 6 3 #SB_LUT4
set_location Lab_UT.scctrl.next_state[3] 6 11 3 #SB_DFFER
set_location Lab_UT.scctrl.EmsBitsSl_RNO 1 11 2 #SB_LUT4
set_location ufifo.emitcrlf_fsm.cstate[1] 1 5 1 #SB_DFF
set_location buart.Z_tx.shifter_RNO[6] 2 3 5 #SB_LUT4
set_location buart.Z_rx.shifter_ret_0_RNO 6 7 7 #SB_LUT4
set_location buart.Z_rx.shifter_0[1] 5 8 5 #SB_DFFER
set_location Lab_UT.scctrl.shifter_ret_7_RNO 7 3 3 #SB_LUT4
set_location ufifo.fifo.un1_wraddr_cry_6_c 1 6 6 #SB_CARRY
set_location ufifo.fifo.sb_ram512x8_inst 3 5 0 #SB_RAM40_4K
set_location ufifo.fifo.rdaddr[0] 4 4 0 #SB_DFFSR
set_location buart.Z_rx.bitcount_es_RNO[1] 6 9 0 #SB_LUT4
set_location Lab_UT.scdp.u0.q_RNI5V781[1] 5 12 4 #SB_LUT4
set_location Lab_UT.scctrl.state_ret_0_fast 9 7 1 #SB_DFFSS
set_location Lab_UT.scctrl.state_1_RNO_7[0] 8 5 3 #SB_LUT4
set_location Lab_UT.scctrl.rst_ret_RNO_8 7 12 1 #SB_LUT4
set_location resetGen.reset_count_RNO[0] 4 3 1 #SB_LUT4
set_location buart.Z_rx.bitcount_es[4] 6 10 4 #SB_DFFES
set_location Lab_UT.scdp.u0.q_esr_RNO[2] 9 10 3 #SB_LUT4
set_location Lab_UT.scdp.k0h.q[2] 5 10 4 #SB_DFFSR
set_location Lab_UT.scctrl.state_ret_12_RNI2D6E 8 13 5 #SB_LUT4
set_location Lab_UT.scctrl.shifter_ret_6 5 5 3 #SB_DFFER
set_location Lab_UT.scctrl.next_state_RNIN96CP1[3] 9 11 1 #SB_LUT4
set_location ufifo.fifo.un1_wraddr_cry_1_c 1 6 1 #SB_CARRY
set_location ufifo.emitcrlf_fsm.cstate_RNIJLRB1_1[0] 2 4 7 #SB_LUT4
set_location Lab_UT.scdp.u0.q_esr_RNIA29D1_0[2] 4 12 4 #SB_LUT4
set_location Lab_UT.scctrl.state_ret_4_RNO_7 8 12 2 #SB_LUT4
set_location Lab_UT.scctrl.rst_ret_RNO_10 11 6 5 #SB_LUT4
set_location buart.Z_rx.shifter_ret_1_RNO 6 6 2 #SB_LUT4
set_location buart.Z_rx.bitcount_es_RNIPVCP_0[2] 7 10 1 #SB_LUT4
set_location Lab_UT.scctrl.state_2_fast[3] 9 6 1 #SB_DFFSR
set_location Lab_UT.scctrl.state_2_3_rep1 9 6 2 #SB_DFFSR
set_location Lab_UT.scctrl.state_1_ret_0_RNIVJ4S 6 5 1 #SB_LUT4
set_location ufifo.txdataD[4] 4 12 2 #SB_DFF
set_location ufifo.tx_fsm.cstate_RNO_0[5] 2 5 6 #SB_LUT4
set_location ufifo.fifo.wraddr_RNO[8] 1 7 0 #SB_LUT4
set_location buart.Z_tx.bitcount[2] 1 3 6 #SB_DFFR
set_location Lab_UT.scdp.u2.q_esr[1] 2 11 1 #SB_DFFESR
set_location Lab_UT.scdp.u1.q_RNINM5R2_0[0] 6 13 7 #SB_LUT4
set_location Lab_UT.scdp.u1.q_RNI7PSB8[0] 4 13 3 #SB_LUT4
set_location Lab_UT.scdp.b2a0.asciiHex_2_i_x2[3] 2 12 0 #SB_LUT4
set_location Lab_UT.scctrl.state_ret_4_RNO_11 7 8 1 #SB_LUT4
set_location Lab_UT.scctrl.state_ret_11_RNO 9 4 5 #SB_LUT4
set_location Lab_UT.scctrl.state_1_ret_5_RNO_4 9 5 0 #SB_LUT4
set_location Lab_UT.scctrl.state_1_ret_2 5 7 3 #SB_DFF
set_location Lab_UT.scctrl.shifter_ret_0_RNI76D52 5 9 3 #SB_LUT4
set_location ufifo.fifo.un1_rdaddr_cry_1_c 4 4 1 #SB_CARRY
set_location buart.Z_tx.shifter_RNO_0[4] 2 3 0 #SB_LUT4
set_location buart.Z_tx.shifter[0] 1 4 5 #SB_DFFER
set_location Lab_UT.scdp.msBitsi.q_esr_ctle[6] 5 9 1 #SB_LUT4
set_location Lab_UT.scdp.msBitsi.q_esr[4] 4 10 4 #SB_DFFESR
set_location Lab_UT.scdp.lsBitsi.q_esr[0] 4 8 3 #SB_DFFESR
set_location Lab_UT.scdp.k2l.q_RNO[3] 9 14 4 #SB_LUT4
set_location Lab_UT.scdp.k2h.q_RNO[2] 7 14 4 #SB_LUT4
set_location Lab_UT.scctrl.state_ret_0_RNI1ME69 9 4 3 #SB_LUT4
set_location Lab_UT.scctrl.shifter_ret_14_RNO 6 6 1 #SB_LUT4
set_location Lab_UT.scdp.msBitsi.q_esr_RNIEOQ45[0] 5 9 5 #SB_LUT4
set_location Lab_UT.scdp.k1l.q_RNO[0] 7 14 2 #SB_LUT4
set_location Lab_UT.scdp.k1h.q_RNO[3] 7 14 1 #SB_LUT4
set_location Lab_UT.scctrl.state_1_ret_2_RNO_0 8 11 4 #SB_LUT4
set_location Lab_UT.scctrl.state_1_ret_0_RNO_2 9 6 4 #SB_LUT4
set_location Lab_UT.scctrl.shifter_ret_8_RNO 6 8 3 #SB_LUT4
set_location ufifo.fifo.wraddr[1] 1 6 1 #SB_DFFSR
set_location buart.Z_tx.Z_baudgen.counter[2] 1 1 1 #SB_DFF
set_location Lab_UT.scdp.msBitsi.q_esr_RNILVQ45[1] 4 11 2 #SB_LUT4
set_location Lab_UT.scdp.k1h.q[2] 7 14 0 #SB_DFFSR
set_location Lab_UT.scctrl.shifter_ret_2_RNID9MC3_0 8 4 2 #SB_LUT4
set_location Lab_UT.scdp.msBitsi.q_esr_RNIAUAGD[4] 4 12 2 #SB_LUT4
set_location Lab_UT.scdp.lfsrInst.prng_lfsr[22] 4 14 4 #SB_DFFER
set_location Lab_UT.scdp.b2a0.asciiHex_2_0_a2_0_x2_0_0[0] 5 14 0 #SB_LUT4
set_location Lab_UT.scctrl.state_ret_rep2_RNO 8 8 7 #SB_LUT4
set_location Lab_UT.scctrl.state_ret_9_RNO_7 6 12 0 #SB_LUT4
set_location Lab_UT.scctrl.state_1_2_rep1 9 4 2 #SB_DFFSR
set_location Lab_UT.scctrl.rst_ret 11 8 4 #SB_DFF
set_location buart.Z_rx.Z_baudgen.counter_RNO[5] 2 9 4 #SB_LUT4
set_location buart.Z_rx.Z_baudgen.counter[1] 1 9 7 #SB_DFF
set_location Lab_UT.scdp.u1.q[3] 9 12 0 #SB_DFFSR
set_location ufifo.fifo.wraddr_RNO[2] 1 6 2 #SB_LUT4
set_location buart.Z_rx.shifter_0[2] 5 8 7 #SB_DFFER
set_location Lab_UT.scdp.a2b.shifter_ret 7 3 6 #SB_DFFER
set_location ufifo.fifo.rdaddr[3] 4 4 3 #SB_DFFSR
set_location buart.Z_rx.bitcount_es_RNO[4] 6 10 4 #SB_LUT4
set_location Lab_UT.scdp.lfsrInst.prng_lfsr[14] 4 14 2 #SB_DFFER
set_location resetGen.reset_count_RNO[3] 4 7 2 #SB_LUT4
set_location buart.Z_rx.bitcount_cry_c[1] 6 10 1 #SB_CARRY
set_location Lab_UT.scctrl.state_1_ret_1_RNI1HVT2 9 5 6 #SB_LUT4
set_location buart.Z_rx.shifter_ret_0 6 7 7 #SB_DFFES
set_location Lab_UT.scctrl.state_ret_rep1_RNI5JDF1 7 7 1 #SB_LUT4
set_location Lab_UT.scctrl.state_1_ret_0_RNO 7 5 7 #SB_LUT4
set_location buart.Z_rx.bitcount_es_RNISCGV1_1[0] 5 10 1 #SB_LUT4
set_location buart.Z_rx.Z_baudgen.counter_RNI3O55[2] 1 9 6 #SB_LUT4
set_location Lab_UT.scctrl.state_1_RNI91NK6_0[2] 6 11 2 #SB_LUT4
set_location Lab_UT.scctrl.state_1[0] 8 4 7 #SB_DFF
set_location Lab_UT.scctrl.state_1_ret_3_RNO_1 7 12 7 #SB_LUT4
set_location resetGen.state_1_ret_rep1 6 5 2 #SB_DFF
set_location buart.Z_tx.shifter[7] 2 3 7 #SB_DFFER
set_location Lab_UT.scctrl.state_1_RNIFADO[0] 11 10 1 #SB_LUT4
set_location Lab_UT.scctrl.nibbleIn1_RNO_9 8 11 0 #SB_LUT4
set_location ufifo.fifo.wraddr[2] 1 6 2 #SB_DFFSR
set_location Lab_UT.scctrl.state_ret_4_RNIDMQE 11 9 6 #SB_LUT4
set_location Lab_UT.scdp.k2h.q[2] 7 14 4 #SB_DFFSR
set_location Lab_UT.scctrl.state_ret_9_RNO_4 11 6 2 #SB_LUT4
set_location Lab_UT.scctrl.rst_ret_RNO_19 9 9 5 #SB_LUT4
set_location buart.Z_rx.Z_baudgen.counter_RNO[0] 2 10 5 #SB_LUT4
set_location Lab_UT.scdp.lfsrInst.prng_lfsr_RNIO7U41[2] 5 15 5 #SB_LUT4
set_location Lab_UT.scctrl.state_ret_rep1_RNO 8 8 4 #SB_LUT4
set_location ufifo.txdataD[3] 4 12 0 #SB_DFF
set_location ufifo.fifo.wraddr_RNO[7] 1 6 7 #SB_LUT4
set_location ufifo.fifo.un1_rdaddr_cry_0_c 4 4 0 #SB_CARRY
set_location buart.Z_rx.shifter_ret_0_rep1 6 6 4 #SB_DFFES
set_location Lab_UT.scdp.lfsrInst.prng_lfsr[17] 4 14 3 #SB_DFFER
set_location Lab_UT.scdp.a2b.val_i[1] 5 11 5 #SB_LUT4
set_location Lab_UT.scctrl.rst_ret_RNO_2 9 8 4 #SB_LUT4
set_location ufifo.txDataValidD 5 7 4 #SB_DFF
set_location buart.Z_rx.shifter_1[7] 6 8 5 #SB_DFFER
set_location buart.Z_rx.bitcount_es[2] 6 9 1 #SB_DFFES
set_location Lab_UT.scdp.a2b.shifter_ret_RNIJ2EC2 9 12 6 #SB_LUT4
set_location Lab_UT.scctrl.state_1_ret_2_RNO_9 5 6 6 #SB_LUT4
set_location buart.Z_rx.shifter_ret_3 6 8 4 #SB_DFFES
set_location Lab_UT.scdp.a2b.val_i_0[0] 9 12 1 #SB_LUT4
set_location Lab_UT.scctrl.state_1_ret_1_RNO_1 7 4 6 #SB_LUT4
set_location Lab_UT.scctrl.shifter_ret_3_RNI216C3 7 13 0 #SB_LUT4
set_location Lab_UT.scdp.lfsrInst.prng_lfsr[4] 6 14 4 #SB_DFFER
set_location Lab_UT.scctrl.state_1_RNI0F8BG[0] 7 13 3 #SB_LUT4
set_location Lab_UT.scctrl.EmsBitsSl 1 11 2 #SB_DFFSR
set_location Lab_UT.scctrl.state_ret_13_RNO_1 8 5 7 #SB_LUT4
set_location Lab_UT.scctrl.state_1_ret_3_RNO_2 8 6 4 #SB_LUT4
set_location buart.Z_rx.bitcount_es_RNIOP0V3[4] 7 10 5 #SB_LUT4
set_location Lab_UT.scdp.msBitsi.q_esr_RNI7PL8[2] 4 11 3 #SB_LUT4
set_location Lab_UT.scdp.msBitsi.q_esr[2] 4 10 2 #SB_DFFESR
set_location Lab_UT.scdp.b2a0.msBits_i_1_i[6] 4 10 6 #SB_LUT4
set_location Lab_UT.scctrl.state_ret_rep1_RNIKQNN6 7 6 1 #SB_LUT4
set_location Lab_UT.scctrl.state_ret_11_RNIOCR32 11 10 4 #SB_LUT4
set_location Lab_UT.scctrl.state_1_ret_5_RNIDAO06 5 9 6 #SB_LUT4
set_location Lab_UT.scctrl.state_1_RNO_5[0] 7 12 2 #SB_LUT4
set_location Lab_UT.scdp.u0.q[1] 5 11 6 #SB_DFFSR
set_location Lab_UT.scctrl.sccEldByte_i_a2_0_1 7 4 2 #SB_LUT4
set_location ufifo.fifo.wraddr[7] 1 6 7 #SB_DFFSR
set_location Lab_UT.scctrl.state_ret_rep2_RNITVAN 6 5 6 #SB_LUT4
set_location Lab_UT.scctrl.state_ret_9_RNO_1 11 7 6 #SB_LUT4
set_location Lab_UT.scctrl.shifter_ret_7_RNIPFLD2_0 8 11 7 #SB_LUT4
set_location Lab_UT.scctrl.rst_ret_RNO_14 11 8 1 #SB_LUT4
set_location buart.Z_rx.Z_baudgen.counter_RNO[3] 2 9 2 #SB_LUT4
set_location ufifo.txdataD[0] 5 9 5 #SB_DFF
set_location ufifo.fifo.wraddr_RNO[4] 1 6 4 #SB_LUT4
set_location buart.Z_tx.bitcount_RNO[2] 1 3 6 #SB_LUT4
set_location Lab_UT.scdp.u2.q_esr[5] 2 11 5 #SB_DFFESR
set_location Lab_UT.scdp.msBitsi.q_esr_RNI5NL8[1] 4 11 1 #SB_LUT4
set_location Lab_UT.scctrl.state_ret_rep2 8 8 7 #SB_DFFSS
set_location resetGen.reset_count[2] 4 3 5 #SB_DFF
set_location Lab_UT.scdp.lsBitsi.q_esr[4] 4 8 1 #SB_DFFESR
set_location Lab_UT.scdp.lfsrInst.prng_lfsr[12] 6 15 3 #SB_DFFER
set_location Lab_UT.scctrl.state_ret_12 8 8 1 #SB_DFFSS
set_location Lab_UT.scctrl.rst_ret_RNO_7 11 8 2 #SB_LUT4
set_location Lab_UT.scctrl.next_state_3_sqmuxa_i_0_i_o2_3 4 7 6 #SB_LUT4
set_location ufifo.fifo.sb_ram512x8_inst_RNIEQME2 1 4 3 #SB_LUT4
set_location buart.Z_tx.uart_tx_RNO 1 4 1 #SB_LUT4
set_location Lab_UT.scdp.k0l.q[1] 9 14 1 #SB_DFFSR
set_location Lab_UT.scctrl.state_1_ret_2_RNO_4 5 7 1 #SB_LUT4
set_location buart.Z_tx.Z_baudgen.counter[6] 1 2 0 #SB_DFF
set_location Lab_UT.scctrl.state_1_ret_2_RNO_11 8 6 2 #SB_LUT4
set_location Lab_UT.scctrl.state_1_ret_1_RNO_6 8 7 5 #SB_LUT4
set_location Lab_UT.scctrl.state_1_ret_0_RNI9C1NH 6 12 2 #SB_LUT4
set_location Lab_UT.scctrl.next_state_RNIMPVR[2] 12 9 3 #SB_LUT4
set_location ufifo.emitcrlf_fsm.cstate_RNIJLRB1_2[0] 2 4 0 #SB_LUT4
set_location Lab_UT.scdp.u1.q_RNO[3] 9 12 0 #SB_LUT4
set_location Lab_UT.scdp.u1.q_RNI2TTL2[1] 4 12 5 #SB_LUT4
set_location Lab_UT.scdp.lfsrInst.prng_lfsr_RNI0Q781[4] 5 14 6 #SB_LUT4
set_location Lab_UT.scdp.lfsrInst.prng_lfsr[1] 4 14 0 #SB_DFFER
set_location Lab_UT.scdp.u1.q_RNIUCJ18[0] 4 13 5 #SB_LUT4
set_location Lab_UT.scctrl.state_ret_13_RNO_4 8 5 6 #SB_LUT4
set_location ufifo.fifo.wraddr_RNICE8U[8] 2 5 1 #SB_LUT4
set_location ufifo.emitcrlf_fsm.cstate[0] 1 5 3 #SB_DFF
set_location Lab_UT.scctrl.state_1_ret_4_RNIR2443 8 14 4 #SB_LUT4
set_location Lab_UT.scctrl.shifter_ret_7_RNIEAT93 9 10 4 #SB_LUT4
set_location ufifo.fifo.wraddr[8] 1 7 0 #SB_DFFSR
set_location resetGen.rst_1_iso 4 7 5 #SB_DFF
set_location buart.Z_rx.hh[0] 2 13 0 #SB_DFFS
set_location Lab_UT.scdp.k0h.q[3] 5 10 5 #SB_DFFSR
set_location Lab_UT.scctrl.shifter_ret_7 7 3 3 #SB_DFFES
set_location Lab_UT.scctrl.state_ret_4_RNO_6 9 7 5 #SB_LUT4
set_location Lab_UT.scctrl.rst_ret_RNO_13 11 9 2 #SB_LUT4
set_location resetGen.state_1_ret_fast 7 5 3 #SB_DFF
set_location Lab_UT.scctrl.next_state_RNO_1[1] 11 5 0 #SB_LUT4
set_location ufifo.txdataD[5] 4 11 6 #SB_DFF
set_location buart.Z_tx.bitcount[3] 1 3 2 #SB_DFFR
set_location Lab_UT.scdp.u2.q_esr[0] 2 11 0 #SB_DFFESR
set_location Lab_UT.scctrl.state_ret_fast 8 8 3 #SB_DFFSS
set_location Lab_UT.scctrl.state_1_ret_5_RNO_5 8 7 4 #SB_LUT4
set_location resetGen.reset_count[1] 4 3 3 #SB_DFF
set_location buart.Z_tx.shifter_RNO_0[5] 2 3 2 #SB_LUT4
set_location Lab_UT.scdp.lsBitsi.q_esr[1] 4 8 7 #SB_DFFESR
set_location Lab_UT.scctrl.rst_ret_RNO_4 8 10 5 #SB_LUT4
set_location Lab_UT.scdp.k1h.q_RNO[2] 7 14 0 #SB_LUT4
set_location Lab_UT.scdp.k0l.q[2] 5 10 6 #SB_DFFSR
set_location Lab_UT.scctrl.state_1_ret_2_RNO_7 7 12 3 #SB_LUT4
set_location Lab_UT.scctrl.state_1_ret_0_RNO_5 11 5 4 #SB_LUT4
set_location Lab_UT.scctrl.next_state_RNO_0[1] 9 8 5 #SB_LUT4
set_location Lab_UT.scctrl.next_state_1_sqmuxa_i_0_a2_3 6 7 4 #SB_LUT4
set_location buart.Z_tx.Z_baudgen.counter[1] 1 2 4 #SB_DFF
set_location Lab_UT.scctrl.state_2[3] 9 6 3 #SB_DFFSR
set_location ufifo.emitcrlf_fsm.cstate_RNIJLRB1[0] 2 4 4 #SB_LUT4
set_location Lab_UT.scdp.lsBitsi.q_RNO[3] 4 9 7 #SB_LUT4
set_location Lab_UT.scdp.lfsrInst.prng_lfsr[2] 5 15 1 #SB_DFFER
set_location Lab_UT.scctrl.state_1_ret_2_RNI0FVE3 6 8 2 #SB_LUT4
set_location ufifo.fifo.sb_ram512x8_inst_RNILSN11 2 7 1 #SB_LUT4
set_location Lab_UT.scctrl.state_ret_0_RNIIKTO3 7 13 1 #SB_LUT4
set_location Lab_UT.scdp.u1.q_RNINM5R2[0] 6 13 6 #SB_LUT4
set_location buart.Z_rx.shifter_1_fast[0] 7 9 4 #SB_DFFER
set_location Lab_UT.scctrl.state_ret_RNI3VN3G 8 8 2 #SB_LUT4
set_location Lab_UT.scctrl.state_1_ret_0_RNIDO8N1 8 7 3 #SB_LUT4
set_location Lab_UT.scctrl.state_1_RNO[0] 8 4 7 #SB_LUT4
set_location Lab_UT.scdp.u0.q_RNI9Q034[1] 5 14 7 #SB_LUT4
set_location Lab_UT.scctrl.state_ret_4_RNO_5 8 12 5 #SB_LUT4
set_location Lab_UT.scctrl.state_1_ret_4_RNO_2 9 5 4 #SB_LUT4
set_location Lab_UT.scctrl.shifter_ret_RNO 7 9 0 #SB_LUT4
set_location ufifo.fifo.un1_wraddr_cry_2_c 1 6 2 #SB_CARRY
set_location Lab_UT.scdp.u1.q_RNI41HI1[2] 5 15 0 #SB_LUT4
set_location Lab_UT.scdp.lfsrInst.prng_lfsr[29] 5 12 0 #SB_DFFER
set_location Lab_UT.scdp.u2.q_esr[3] 2 11 3 #SB_DFFESR
set_location Lab_UT.scctrl.state_ret_rep1_RNIHGED 8 7 2 #SB_LUT4
set_location Lab_UT.scctrl.state_1_ret_5_RNO_2 9 5 1 #SB_LUT4
set_location resetGen.reset_count[4] 4 7 0 #SB_DFF
set_location buart.Z_tx.shifter_RNO_0[6] 2 3 4 #SB_LUT4
set_location Lab_UT.scdp.lsBitsi.q_esr[2] 4 8 0 #SB_DFFESR
set_location Lab_UT.scdp.lfsrInst.prng_lfsr[18] 6 14 3 #SB_DFFER
set_location ufifo.emitcrlf_fsm.cstate_RNO_1[1] 1 5 7 #SB_LUT4
set_location Lab_UT.scdp.k1l.q_RNO[2] 7 14 7 #SB_LUT4
set_location Lab_UT.scctrl.state_1_ret_2_RNO_2 8 11 6 #SB_LUT4
set_location Lab_UT.scctrl.state_1_ret_0_RNO_0 9 6 5 #SB_LUT4
set_location Lab_UT.scdp.lfsrInst.prng_lfsr_RNILRI45[7] 2 12 7 #SB_LUT4
set_location Lab_UT.scdp.k1h.q[0] 7 15 5 #SB_DFFSR
set_location Lab_UT.scctrl.state_1_ret_1_RNO_8 7 5 1 #SB_LUT4
set_location Lab_UT.scctrl.state_1_2_rep1_RNIV3EJ1 11 8 7 #SB_LUT4
set_location Lab_UT.scdp.lsBitsi.q_RNO[6] 4 9 5 #SB_LUT4
set_location Lab_UT.scctrl.next_state_RNIB2MFC[3] 9 6 0 #SB_LUT4
set_location ufifo.fifo.wraddr_RNI028U[4] 2 6 0 #SB_LUT4
set_location buart.Z_rx.shifter_ret_4_RNO 7 9 6 #SB_LUT4
set_location Lab_UT.scctrl.state_1_ret_1_RNI4KSC6 11 10 2 #SB_LUT4
set_location Lab_UT.scctrl.state_1_RNIO1RJH[2] 8 14 2 #SB_LUT4
set_location Lab_UT.scdp.k3h.q[1] 6 12 4 #SB_DFFSR
set_location Lab_UT.scdp.a2b.N_70_i 9 12 2 #SB_LUT4
set_location Lab_UT.scctrl.state_ret_1_RNO 9 4 6 #SB_LUT4
set_location Lab_UT.scctrl.state_2_RNIKG4B3[3] 12 9 4 #SB_LUT4
set_location buart.Z_tx.Z_baudgen.counter_RNO[0] 1 2 2 #SB_LUT4
set_location Lab_UT.scdp.rxdataD.q[0] 9 12 2 #SB_DFFSR
set_location Lab_UT.scctrl.state_ret_rep1_RNIEMAA2 7 6 0 #SB_LUT4
set_location Lab_UT.scctrl.state_ret_RNIK5UKH 8 13 2 #SB_LUT4
set_location Lab_UT.scctrl.state_ret_0_RNIJFLD2_0 6 5 4 #SB_LUT4
set_location Lab_UT.scctrl.nibbleIn1_RNO_6 8 6 1 #SB_LUT4
set_location ufifo.tx_fsm.cstate[3] 4 3 7 #SB_DFF
set_location ufifo.fifo.rdaddr_RNO[0] 4 4 0 #SB_LUT4
set_location Lab_UT.scctrl.state_ret_4_RNO_0 8 9 0 #SB_LUT4
set_location Lab_UT.scctrl.state_1_ret_4_RNO_1 7 13 7 #SB_LUT4
set_location Lab_UT.scctrl.shifter_ret_3_RNIS5A43_0 7 8 5 #SB_LUT4
set_location Lab_UT.scctrl.nibbleIn1_RNO_15 7 6 6 #SB_LUT4
set_location Lab_UT.scdp.k0h.q_RNO[2] 5 10 4 #SB_LUT4
set_location Lab_UT.scctrl.shifter_ret_2_RNI2SHF 7 6 4 #SB_LUT4
set_location resetGen.state_1_ret 4 7 1 #SB_DFF
set_location buart.Z_tx.shifter_RNO[1] 2 4 3 #SB_LUT4
set_location Lab_UT.scdp.lfsrInst.prng_lfsr_RNIRBV41[5] 5 12 3 #SB_LUT4
set_location Lab_UT.scdp.k1l.q[0] 7 14 2 #SB_DFFSR
set_location Lab_UT.scdp.k0l.q_RNO[2] 5 10 6 #SB_LUT4
set_location Lab_UT.scctrl.state_1_RNO_8[0] 7 4 0 #SB_LUT4
set_location Lab_UT.scctrl.r1.q[0] 7 11 2 #SB_DFFSR
set_location Lab_UT.scdp.k3l.q[1] 9 13 3 #SB_DFFSR
set_location Lab_UT.scctrl.state_1_ret_0_RNIBUL06_0 8 10 4 #SB_LUT4
set_location Lab_UT.scctrl.state_1_2_rep1_RNI4P8F2 8 11 2 #SB_LUT4
set_location ufifo.fifo.sb_ram512x8_inst_RNIKTQ21 4 7 3 #SB_LUT4
set_location resetGen.shifter_ret_RNIC2S44 4 3 0 #SB_LUT4
set_location buart.Z_tx.bitcount_RNIQOQA1[3] 1 3 0 #SB_LUT4
set_location Lab_UT.scctrl.shifter_ret_RNI4H6R 7 9 2 #SB_LUT4
set_location ufifo.fifo.un1_wraddr_cry_3_c 1 6 3 #SB_CARRY
set_location ufifo.emitcrlf_fsm.cstate_RNO[0] 1 5 3 #SB_LUT4
set_location Lab_UT.scdp.k2l.q[2] 7 14 6 #SB_DFFSR
set_location ufifo.tx_fsm.cstate_RNI7ELR5[4] 1 5 2 #SB_LUT4
set_location ufifo.fifo.wraddr_RNINV384[0] 2 6 2 #SB_LUT4
set_location Lab_UT.scdp.rxdataD.q[3] 9 13 6 #SB_DFFSR
set_location Lab_UT.scdp.k3l.q_RNO[0] 9 13 2 #SB_LUT4
set_location Lab_UT.scctrl.state_2_RNIMNKBA[3] 11 5 3 #SB_LUT4
set_location Lab_UT.scctrl.state_1_RNI2IGHH[0] 8 13 7 #SB_LUT4
set_location Lab_UT.scctrl.shifter_ret_3_RNIS5A43 7 8 3 #SB_LUT4
set_location Lab_UT.scctrl.shifter_ret_2_RNI1JJ81 7 7 2 #SB_LUT4
set_location ufifo.emitcrlf_fsm.cstate_RNO_0[1] 1 5 0 #SB_LUT4
set_location Lab_UT.scdp.u0.q_RNIGMI45[1] 5 15 7 #SB_LUT4
set_location Lab_UT.scctrl.state_1_ret_3_RNI2KLS 8 14 6 #SB_LUT4
set_location Lab_UT.scctrl.nibbleIn1_RNO_1 8 9 5 #SB_LUT4
set_location ufifo.tx_fsm.cstate_RNO[1] 2 6 6 #SB_LUT4
set_location ufifo.fifo.rdaddr_RNO[7] 4 4 7 #SB_LUT4
set_location Lab_UT.scdp.u1.q_RNI116R2[1] 4 13 2 #SB_LUT4
set_location Lab_UT.scctrl.state_1_ret_4_RNO_4 7 12 4 #SB_LUT4
set_location Lab_UT.scdp.lfsrInst.prng_lfsr[27] 5 13 7 #SB_DFFER
set_location Lab_UT.scctrl.state_1_ret_0_RNIBUL06 7 7 6 #SB_LUT4
set_location Lab_UT.scctrl.nibbleIn1_RNO_12 8 6 0 #SB_LUT4
set_location buart.Z_tx.bitcount_RNO_0[2] 1 2 7 #SB_LUT4
set_location buart.Z_rx.Z_baudgen.counter[4] 2 10 2 #SB_DFF
set_location Lab_UT.scdp.msBitsi.q_esr_RNI6QAGD[2] 4 12 1 #SB_LUT4
set_location Lab_UT.scctrl.state_ret_9_RNO_10 11 6 0 #SB_LUT4
set_location Lab_UT.scctrl.next_state[1] 9 8 6 #SB_DFFER
set_location buart.Z_tx.shifter_RNO[4] 2 3 1 #SB_LUT4
set_location buart.Z_rx.Z_baudgen.un5_counter_cry_3_c 2 9 2 #SB_CARRY
set_location Lab_UT.scctrl.shifter_ret_0_RNIDPMQ 5 9 2 #SB_LUT4
set_location ufifo.fifo.rdaddr[6] 4 4 6 #SB_DFFSR
set_location buart.Z_rx.bitcount_es_RNO[3] 6 9 4 #SB_LUT4
set_location buart.Z_rx.Z_baudgen.counter_RNI5JE3[5] 2 9 5 #SB_LUT4
set_location Lab_UT.scdp.u1.q_RNIOKSG2[1] 4 13 4 #SB_LUT4
set_location Lab_UT.scctrl.state_ret_1_RNIGQ5R4 9 9 2 #SB_LUT4
set_location ufifo.tx_fsm.cstate_RNI57IK1[0] 1 4 2 #SB_LUT4
set_location buart.Z_tx.Z_baudgen.un2_counter_cry_3_c 1 1 2 #SB_CARRY
set_location Lab_UT.scctrl.state_ret_0 9 7 0 #SB_DFFSS
set_location buart.Z_rx.shifter_ret_3_RNO 6 8 4 #SB_LUT4
set_location Lab_UT.scctrl.state_ret_13_RNO 8 8 0 #SB_LUT4
set_location Lab_UT.scctrl.state_ret_0_fast_RNO 9 7 1 #SB_LUT4
set_location Lab_UT.scctrl.state_1_RNO_6[0] 6 4 1 #SB_LUT4
set_location Lab_UT.scctrl.next_state_RNI3K1MC[2] 9 4 4 #SB_LUT4
set_location Lab_UT.scdp.b2a1.lsBits_i_0_o2[6] 4 8 4 #SB_LUT4
set_location Lab_UT.scctrl.state_1_ret_0 7 5 7 #SB_DFF
set_location Lab_UT.scctrl.shifter_ret_0_RNI51T61 7 8 2 #SB_LUT4
set_location buart.Z_tx.shifter[2] 2 4 6 #SB_DFFER
set_location Lab_UT.scdp.lsBitsi.q_RNIR0CV3[5] 4 11 6 #SB_LUT4
set_location Lab_UT.scdp.k2l.q_RNO[1] 9 13 1 #SB_LUT4
set_location Lab_UT.scdp.k2h.q_RNO[0] 7 14 5 #SB_LUT4
set_location Lab_UT.scctrl.state_1_ret_4_RNIBVSV 8 5 5 #SB_LUT4
set_location ufifo.tx_fsm.cstate_RNO[4] 2 5 5 #SB_LUT4
set_location ufifo.tx_fsm.cstate[5] 2 5 7 #SB_DFF
set_location Lab_UT.scdp.lfsrInst.prng_lfsr[20] 6 14 1 #SB_DFFER
set_location Lab_UT.scctrl.state_ret_9_RNO_9 11 7 7 #SB_LUT4
set_location buart.Z_rx.Z_baudgen.counter[3] 2 9 2 #SB_DFF
set_location Lab_UT.scdp.u1.q[1] 5 11 4 #SB_DFFSR
set_location Lab_UT.scctrl.state_ret_13_RNI7RC32 4 9 3 #SB_LUT4
set_location Lab_UT.scctrl.shifter_ret 7 9 0 #SB_DFFES
set_location Lab_UT.scctrl.next_state[2] 11 11 0 #SB_DFFER
set_location buart.Z_tx.shifter_RNO[7] 2 3 7 #SB_LUT4
set_location Lab_UT.scdp.b2a0.msBits_i_0_o2[6] 4 10 4 #SB_LUT4
set_location Lab_UT.scdp.a2b.N_73_i 5 11 0 #SB_LUT4
set_location Lab_UT.scctrl.state_1_RNI6V451[2] 6 11 6 #SB_LUT4
set_location ufifo.fifo.rdaddr[1] 4 4 1 #SB_DFFSR
set_location Lab_UT.scctrl.shifter_ret_2_RNI4KBA1 7 10 3 #SB_LUT4
set_location resetGen.reset_count_RNO[1] 4 3 3 #SB_LUT4
set_location Lab_UT.scctrl.state_ret_5 8 8 5 #SB_DFFSR
set_location Lab_UT.scctrl.r2.q[0] 7 11 3 #SB_DFFSR
set_location ufifo.emitcrlf_fsm.cstate_RNIR7FP3[0] 2 7 2 #SB_LUT4
set_location Lab_UT.scdp.lfsrInst.prng_lfsr_RNI9U1R[0] 6 13 4 #SB_LUT4
set_location Lab_UT.scctrl.state_1_RNIOII81[2] 8 14 1 #SB_LUT4
set_location Lab_UT.scdp.lfsrInst.prng_lfsr[9] 6 15 6 #SB_DFFER
set_location ufifo.fifo.un1_rdaddr_cry_3_c 4 4 3 #SB_CARRY
set_location buart.Z_rx.hh_RNIJ3K62[0] 9 13 7 #SB_LUT4
set_location buart.Z_rx.Z_baudgen.un5_counter_cry_2_c 2 9 1 #SB_CARRY
set_location Lab_UT.scctrl.state_ret_4_RNO_10 9 7 4 #SB_LUT4
set_location buart.Z_tx.shifter[1] 2 4 3 #SB_DFFER
set_location Lab_UT.scdp.k2l.q_RNO[2] 7 14 6 #SB_LUT4
set_location buart.Z_tx.Z_baudgen.un2_counter_cry_4_c 1 1 3 #SB_CARRY
set_location Lab_UT.scdp.b2a1.asciiHex_2_i_x2[3] 5 13 2 #SB_LUT4
set_location Lab_UT.scctrl.state_2_fast_RNI7HMP[3] 9 9 0 #SB_LUT4
set_location Lab_UT.scctrl.state_1_2_rep2_RNIB7181 11 5 1 #SB_LUT4
set_location ufifo.fifo.wraddr[0] 1 6 0 #SB_DFFSR
set_location buart.Z_rx.shifter_2[6] 5 5 7 #SB_DFFER
set_location Lab_UT.scctrl.state_1_ret_5_RNO 11 9 5 #SB_LUT4
set_location Lab_UT.scctrl.state_1_RNI23861[0] 9 7 7 #SB_LUT4
set_location Lab_UT.scctrl.shifter_ret_2_RNID9MC3_1 9 8 0 #SB_LUT4
set_location Lab_UT.scdp.u1.q_RNIBG9H2[1] 5 13 4 #SB_LUT4
set_location Lab_UT.scdp.b2a0.asciiHex_2_0_a2[2] 4 10 2 #SB_LUT4
set_location Lab_UT.scctrl.state_ret_9_RNO_6 11 7 5 #SB_LUT4
set_location Lab_UT.scctrl.shifter_ret_3_RNIRA8MC 6 11 0 #SB_LUT4
set_location ufifo.fifo.wraddr_RNO[1] 1 6 1 #SB_LUT4
set_location buart.Z_tx.Z_baudgen.counter_RNO_0[6] 1 1 5 #SB_LUT4
set_location buart.Z_rx.bitcount_es_RNISCGV1_0[0] 7 10 2 #SB_LUT4
set_location Lab_UT.scdp.msBitsi.q_esr_RNIV1ULD[3] 4 12 0 #SB_LUT4
set_location Lab_UT.scctrl.state_ret_fast_RNO 8 8 3 #SB_LUT4
set_location Lab_UT.scctrl.state_ret 8 8 6 #SB_DFFSS
set_location Lab_UT.scdp.lfsrInst.prng_lfsr[15] 2 12 5 #SB_DFFER
set_location resetGen.reset_count_RNO[4] 4 7 0 #SB_LUT4
set_location buart.Z_rx.shifter_1[5] 5 5 4 #SB_DFFER
set_location buart.Z_rx.bitcount_es_RNIELQA6[0] 2 10 6 #SB_LUT4
set_location buart.Z_rx.bitcount_es[0] 6 9 3 #SB_DFFES
set_location buart.Z_rx.bitcount_cry_c[2] 6 10 2 #SB_CARRY
set_location Lab_UT.scdp.lfsrInst.prng_lfsr_RNIMSEN[20] 5 14 5 #SB_LUT4
set_location Lab_UT.scctrl.state_ret_6 9 6 6 #SB_DFFSS
set_location buart.Z_rx.shifter_ret_1 6 6 2 #SB_DFFES
set_location buart.Z_rx.shifter_0_fast[1] 5 8 4 #SB_DFFER
set_location Lab_UT.scctrl.state_ret_rep2_RNIE3HB2 7 7 3 #SB_LUT4
set_location Lab_UT.scctrl.state_1_ret_1_RNO_3 6 11 5 #SB_LUT4
set_location buart.Z_rx.bitcount_es_RNIV4M42[0] 2 10 7 #SB_LUT4
set_location ufifo.tx_fsm.cstate_RNO_0[1] 2 6 5 #SB_LUT4
set_location buart.Z_tx.Z_baudgen.counter_RNIO3T89[0] 1 3 7 #SB_LUT4
set_location Lab_UT.scctrl.state_1_ret_3_RNO_0 11 9 7 #SB_LUT4
set_location buart.Z_tx.shifter[4] 2 3 1 #SB_DFFER
set_location Lab_UT.scdp.msBitsi.q_esr[0] 4 10 1 #SB_DFFESR
set_location Lab_UT.scctrl.state_1_2_rep1_RNI8F771 11 6 7 #SB_LUT4
set_location ufifo.fifo.wraddr[5] 1 6 5 #SB_DFFSR
set_location Lab_UT.scdp.b2a0.asciiHex_2_i_x2_1[1] 4 10 3 #SB_LUT4
set_location Lab_UT.scctrl.state_1_ret_0_RNIJOOS 5 9 7 #SB_LUT4
set_location ufifo.tx_fsm.cstate[0] 2 6 4 #SB_DFF
set_location Lab_UT.scdp.k2h.q[1] 7 15 3 #SB_DFFSR
set_location Lab_UT.scctrl.state_ret_9_RNO_3 9 3 1 #SB_LUT4
set_location Lab_UT.scctrl.state_1_ret_3_RNI23U7H 8 14 7 #SB_LUT4
set_location Lab_UT.scctrl.rst_ret_RNO_16 9 8 2 #SB_LUT4
set_location buart.Z_rx.Z_baudgen.counter_RNO[1] 1 9 7 #SB_LUT4
set_location Lab_UT.scctrl.next_state_1_sqmuxa_1_i_o2_5 7 9 1 #SB_LUT4
set_location ufifo.txdataD[2] 4 12 1 #SB_DFF
set_location ufifo.fifo.wraddr_RNO[6] 1 6 6 #SB_LUT4
set_location Lab_UT.scdp.u1.q_RNIKMQ34[1] 5 13 5 #SB_LUT4
set_location Lab_UT.scctrl.state_ret_5_RNI1VIJ5 8 7 1 #SB_LUT4
set_location Lab_UT.scctrl.r3.q[0] 7 11 1 #SB_DFFSR
set_location Lab_UT.scdp.lfsrInst.prng_lfsr_RNI96HI1[3] 5 13 1 #SB_LUT4
set_location Lab_UT.scdp.lfsrInst.prng_lfsr[10] 5 15 2 #SB_DFFER
set_location Lab_UT.scctrl.sccEldByte_i_a2_0 7 3 0 #SB_LUT4
set_location Lab_UT.scctrl.rst_ret_RNO_1 12 9 6 #SB_LUT4
set_location buart.Z_rx.shifter_1[0] 7 9 7 #SB_DFFER
set_location buart.Z_rx.bitcount_es[3] 6 9 4 #SB_DFFES
set_location ufifo.fifo.un1_wraddr_cry_0_c 1 6 0 #SB_CARRY
set_location buart.Z_tx.Z_baudgen.counter[4] 1 1 3 #SB_DFF
set_location buart.Z_rx.shifter_ret_4 7 9 6 #SB_DFFES
set_location Lab_UT.scctrl.state_1_ret_1_RNO_0 6 3 5 #SB_LUT4
set_location ufifo.emitcrlf_fsm.cstate_RNIQ6FP3[0] 2 4 5 #SB_LUT4
set_location Lab_UT.scdp.lfsrInst.prng_lfsr[7] 2 12 4 #SB_DFFER
set_location Lab_UT.scctrl.state_1_RNIN79O4[0] 8 10 7 #SB_LUT4
set_location ufifo.tx_fsm.cstate_RNO_0[2] 2 5 3 #SB_LUT4
set_location Lab_UT.scdp.u0.q_RNO[1] 5 11 6 #SB_LUT4
set_location Lab_UT.scctrl.state_ret_13_RNO_2 8 4 3 #SB_LUT4
set_location Lab_UT.scctrl.state_1_ret_3_RNO_5 9 5 2 #SB_LUT4
set_location buart.Z_rx.shifter_0[4] 6 6 5 #SB_DFFER
set_location Lab_UT.scdp.msBitsi.q_esr[3] 4 10 5 #SB_DFFESR
set_location Lab_UT.scdp.u0.q[0] 9 12 4 #SB_DFFSR
set_location ufifo.fifo.wraddr[6] 1 6 6 #SB_DFFSR
set_location Lab_UT.scdp.lfsrInst.prng_lfsr_RNITJGS[7] 2 12 3 #SB_LUT4
set_location Lab_UT.scdp.k0h.q[1] 6 12 7 #SB_DFFSR
set_location Lab_UT.scctrl.next_state_RNO[1] 9 8 6 #SB_LUT4
set_location ufifo.fifo.rdaddr_RNO[8] 4 5 0 #SB_LUT4
set_location GND -1 -1 -1 #GND
set_location Lab_UT.scdp.b2a0.N_115_i 4 10 5 #SB_LUT4
set_location Lab_UT.scctrl.state_ret_9_RNO_0 11 6 3 #SB_LUT4
set_location Lab_UT.scctrl.state_ret_4_RNO_8 8 13 4 #SB_LUT4
set_location Lab_UT.scctrl.rst_ret_RNO_15 7 12 0 #SB_LUT4
set_location Lab_UT.scdp.lfsrInst.prng_lfsr_RNITJGS_1[7] 2 12 2 #SB_LUT4
set_location Lab_UT.scctrl.state_ret_5_RNIH2CF 9 9 6 #SB_LUT4
set_location Lab_UT.scctrl.r4.q_RNI192J[0] 5 7 4 #SB_LUT4
set_io o_serial_data 8
set_io led[1] 98
set_io to_ir 105
set_io sd 107
set_io led[4] 95
set_io led[2] 97
set_io led[0] 99
set_io from_pc 9
set_io led[3] 96
set_io clk_in 21
